body {
    background-color: rgb(19, 19, 19);
    background-image: url('../images/FlightSuretyLogo.png'); /* Source: favicon.cc */
    background-position: center center;
    background-repeat: no-repeat;
}